    body {
        background-color: #181818 !important;
        color: white !important;
    }
    
    #profile-wrapper {
        text-align: center;
    }
    
    #profile-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
    ul {
        padding: 0;
        list-style-type: none;
    }
    
    .social-links ul {
        list-style-type: none;
        display: inline-block;
        pointer-events: none;
        display: block;
    }
    
    .social {
        width: 20px;
        height: 20px;
    }
    
    .card {
        background-color: #404040 !important;
    }
    
    img {
        margin-left: auto;
        margin-right: auto;
    }
    
    .project {
        width: 300px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    
    hr.profile {
        border-top: 1px solid white;
    }

    .project-title {
        text-align: center;
    }

    #project-text{  
        color: black;
        
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 0 1rem;
    }

    .tags div {
        font-size: 9px;
        font-weight: 700;
        padding: 4px 10px;
        border: 3px solid #28242f;
        border-radius: 2rem;
    }   